{% extends 'base.html' %}
{% block content %}


<h1 class="center-align">Adopted Pets!</h1>

<div class="row">
{% for pet in pets %}
    {% if pet.adopted == False %}
    {% else %}
    <div class="col s12 m4">
    <div class="card">
        <span class="card-title center-align">{{ pet.name }}</span>
        <h6>ADOPTED!</h6>
        <p class="center-align black-text">Species: {{ pet.species }} &nbsp;&nbsp;</p>
        {% for photo in pet.photo_set.all %}
            <div class="pet-img">
            <img class="responsive-img" src="{{photo.url}}" alt="Pet Photo">
            </div>
        {% empty %}
            <div class="card-panel black-text center-align">No Photos Uploaded</div>
        {% endfor %}
    </div>
    </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}