{% extends 'base.html' %}
{% block content %}

<h1>Pet Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ pet.name }}</span>
        <p>Species: {{ pet.species }}</p>
        <p>Description: {{ pet.description|linebreaks }}</p>
        {% if pet.age > 0 %}
            <p>Age: {{ pet.age }}</p>
        {% else %}
            <p>Age: Baby</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'pets_update' pet.id %}">Edit</a>
        <a href="{% url 'pets_delete' pet.id %}">Delete</a>
    </div>
</div>
{% for photo in pet.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}" alt="Cat Photo">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

{% endblock %}