{% extends 'base.html' %}
{% block content %}

<!-- Put detail card in a div, make sure people cant post two pictures -->

<h1>Pet Details</h1>
<div class="row" style="background-color: rgb(127, 172, 110);"> 
    <div class="col s5 push-s1" style="background-color: rgb(127, 172, 110);">
        {% for photo in pet.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}" alt="Pet Photo" style="margin-top: 30px">
        {% empty %}
            <div class="card-panel" style="background-color:grey; color: white;">No Photos Uploaded</div>
        {% endfor %}
        {% if user.id == pet.user.id %}
        <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="card-panel" style="background-color: lightgrey">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button type="submit" class="btn">Upload Photo</button>
            <h6 class="picture" style="color: black; font-size: 20px; font-weight: bold">Only the owner of the animal can add a picture</h6>
        </form>
        {% endif %}
    </div>
    <div class="col s7" style="background-color: rgb(127, 172, 110);">
        <span class="card-title" name="value" style="color: black; font-size: 30px;">{{ pet.name }}</span>
        <p>Species: {{ pet.species }}</p>
        <p>Description: {{ pet.description|linebreaks }}</p>
        {% if pet.age > 0 %}
        <p>Age: {{ pet.age }}</p>
        {% else %}
        <p>Age: Baby</p>
        {% endif %}
        <p>Size: {{ pet.size }}</p>
        <p>Fixed?: {{ pet.fixed }}</p>
        <p>Owner: {{ pet.user }}</p>
        <p>Adopted: {{ pet.adopted }}</p>
    {% if user.is_authenticated %}
        {% if user.id != pet.user.id %}
            <div class="card-action">
                <form method="post" action="{% url 'adopt_pet' pet.id %}">
                    {% csrf_token %}
                    <label>
                        <input type="checkbox" name="adopt" value="yes">
                        <h6>Want To Be Fur-Ever Friends?</h6>
                    </label>
                    <input type="submit" value="Yes-To Adopt Me" style="background-color: lightgrey; color: white;">
                </form>
            </div>
        {% endif %}
    {% endif %}
    {% if user.id == pet.user.id %}
        <div class="card-action">
            <div class="divider"></div>
            <a style="color: grey; font-size: 30px;" href="{% url 'pets_update' pet.id %}">Edit </a>
            <div class="divider"></div>
            <a style="color: grey; font-size: 30px;" href="{% url 'pets_delete' pet.id %}"> Delete</a>
            <div class="divider"></div>
        </div>
    {% endif %}
    </div>
</div>
<!-- Appts -->
<div class="row">
    <div class="col s10 push-s1">
        <div class="card-content" style="background-color: grey; color: white;">
            {% if user.is_authenticated %}
                {% if appointments %}
                <h2>Existing Visits</h2>
                <ul>
                    {% for appointment in appointments %}
                        <li>
                            <br> {{ appointment.user }} <br>
                            {{ appointment.date }} at {{ appointment.time }}
                            <form method="post" action="{% url 'delete_appointment' pet.id appointment.id %}">
                                {% csrf_token %}
                                <br>
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- New Appt Form -->
            {% if user.id == pet.user.id %}
                {% else %}
                    <h2>Schedule A Visit</h2>
                    <form method="post" action="{% url 'schedule_appointment' pet.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Schedule</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>  
</div>

{% endblock %}
