{% extends 'base.html' %}
{% block content %}

  <h1>Pet List</h1>
{% for pet in pets %}
  {% if pet.adopted == True %}
  {% else %}
  <div class="card">
    <div class="card-content"></div>
      <span class="card-title">{{ pet.name }}</span>
      <p class="right">Species: {{ pet.species }} &nbsp;&nbsp;</p>
      <a href="/pets/{{pet.id}}">
            {% for photo in pet.photo_set.all %}
              <img class="responsive-img card-panel" src="{{photo.url}}" alt="Pet Photo">
            {% empty %}
              <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
          </a>
    </div>
  </div>
  {% endif %}
{% endfor %}

{% endblock %}

<!-- success stories, instead of <3 just flip roles of this page. -->
