{% extends 'base.html' %}
{% block content %}

<div class ="container1">
    <fieldset class="log-form">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" style="background-color: rgb(66, 96, 60)" class="btn">Log In</button>
        </form>
    <legend style="color: rgb(66, 96, 60); font-size:30px; font-family:'Swiss 721 Rounded', sans-serif;">Welcome back, please log in to continue</legend>
    </fieldset>
</div>
{% endblock %}