{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: rgb(175, 199, 205);
    }
    .container1 {
        margin-top: 100px;
    }
</style>

<div class ="container1">
    <fieldset style="background-color: rgb(242, 172, 120)">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" style="background-color: rgb(66, 96, 60)" class="btn">Log In</button>
        </form>
    <legend style="color: rgb(66, 96, 60); font-size:30px; font-family:'Swiss 721 Rounded', sans-serif;">Welcome back, please log in to continue</legend>
    </fieldset>
</div>
{% endblock %}