{% extends 'base.html' %}

{% block content %}
{% if object %}
        <h3>Edit {{ object.name }}</h3>
    {% else %}
        <h3>Add a Pet</h3>
    {% endif %}
  <form method="POST" action="">
    {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
    <br> <br>
    <button type="submit">Submit!</button>
  </form>
  <script>
    const sizeEl = document.getElementById('id_size')
    const genderEl = document.getElementById('id_gender')
    const fixedEl = document.getElementById('id_fixed')
    M.FormSelect.init(sizeEl)
    M.FormSelect.init(genderEl)
    M.FormSelect.init(fixedEl)
  </script>
{% endblock %}